.card__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  top: 35px;
}

.card__title {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 323px;
  height: 326px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  object-fit: cover;
}

.card__like-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 2px 0 0 10px;
}

